* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background: #b884a4;
    --secondaryBackground: #6d4e61;
    --text: black;
    --teal: #67d0cc;
    --text2: white;
}

body {
    background: #b884a4;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{
    margin-bottom: 10px;
}

.containAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 150px;
    border: 2px solid var(--text2);
    max-width: 900px;
    border-radius: 15px;
    background: #6d4e61;
    color: white;
}

.inputdiv {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#newInput,
#newDate,
#newCategoryInput,
#newCat {
    padding: 10px;
    margin: 5px;
    border: 2px solid var(--text2);
    border-radius: 15px;
    background-color: var(--secondaryBackground);
    color: var(--text2)
}
::placeholder {
    color:var(--text2);
}
#newDate:hover,
#newInput:hover,
#newCategoryInput:hover,
#newCat:hover{
    background-color: #b884a4;
    border: 2px solid var(--teal);
}

#addButton {
    background-color: var(--secondaryBackground);
    border: 2px solid white;
    color: var(--text2);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 32px;
    font-weight: bold;
    margin-left: 2px;;
    margin-top: 10px;

}
#addButton:hover {
    background-color: var(--teal);
    border: 2px solid var(--teal);
}

ul {
    display:flex;
    flex-direction: column;
    list-style:none;
    margin:5px;
    text-align:left;
}
li{
    list-style: none;
    padding:15px;
    background-color: var(--secondaryBackground);
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid white;
}

.taskList {
    color:white;
}

button {
    background-color: var(--secondaryBackground);
    border: 2px solid white;
    color: var(--text2);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 32px;
    font-weight: bold;
    margin-left:10px;
    padding-top:3px;
    padding-bottom: 3px;
}
button:hover {
    background-color: var(--teal);
    border: 2px solid var(--teal);
}

#clearButton {
    align-self: center;
    background-color: var(--secondaryBackground);
    border: 2px solid white;
    color: var(--text2);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 32px;
    font-weight: bold;
    margin-left: 2px;
}
#clearButton:hover {
    background-color: var(--teal);
    border: 2px solid var(--teal);
}
.ulButt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#editInput{
    padding: 10px;
    margin: 5px;
    border: 2px solid var(--text2);
    border-radius: 15px;
    background-color: var(--secondaryBackground);
    color: var(--text2)
}
#incompleteCount {
    background-color: var(--secondaryBackground);
    border-radius: 50%;
    border: 2px solid white;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:10px;
    margin-left: 5px;
    padding-bottom: 10px;
}
.taskHeader {
    font-weight: inherit;
}

.taskDiv {
display:flex;
flex-direction: row;
}